[user]
	name = Tim
	email = mail@timhaller.de
[core]
	autocrlf=false
[alias]
	gl = log --oneline --graph --all
	diverged = !git init && git some 2 && git checkout -b topic && git some 3 && git checkout - && git some
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = C:/Program\\ Files/SourceGear/Common/DiffMerge/sgdm.exe "$LOCAL" "$REMOTE"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	trustExitCode = true
	cmd = C:/Program\\ Files/SourceGear/Common/DiffMerge/sgdm.exe -merge -result="$MERGED" "$LOCAL" "$BASE" "$REMOTE"
[pull]
	rebase = false
[init]
	defaultBranch = main
